{% extends "base.html" %}
{% block title%}
    <title>TFT</title>
{% endblock %}
{% block css %}
    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="/static/css/headers/header-default.css">
    <link rel="stylesheet" href="/static/css/footers/footer-default.css">
{% endblock %}
{% block Intro%}
 <!-- Intro Section -->
    <section id="intro" class="course-intro-section">
        <div class="fullscreenbanner-container">
            <div class="fullscreenbanner">
                <ul>
                    <!-- SLIDE 1 -->
                    <li data-transition="curtain-1" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                        <!-- MAIN IMAGE -->
                        <img src="{{course.picture.url}}" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <div class="tp-caption rs-caption-1 sft start"
                            data-x="center"
                            data-hoffset="0"
                            data-y="100"
                            data-speed="800"
                            data-start="10"
                            data-easing="Back.easeInOut"
                            data-endspeed="300">
                            {{course.name}}
                        </div>
                        <!-- LAYER -->
                        <div class="tp-caption rs-caption-2 sft"
                            data-x="center"
                            data-hoffset="0"
                            data-y="200"
                            data-speed="1000"
                            data-start="10"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="off"
                            style="z-index: 6">
                            {{course.brief}}<br>
                            Thirsty For Thirty
                        </div>
                        <!-- LAYER -->
                        <div class="tp-caption rs-caption-3 sft"
                                data-x="center"
                                data-hoffset="0"
                                data-y="360"
                                data-speed="1000"
                                data-start="100"
                                data-easing="Power4.easeOut"
                                data-endspeed="300"
                                data-endeasing="Power1.easeIn"
                                data-captionhidden="off"
                                style="z-index: 6">
                               <span class="page-scroll"><a href="{% url 'course_register' course.id %}"  class="btn-u btn-brd btn-brd-hover btn-u-light">我要报名</a></span>
                        </div>
                    </li>
                    
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
                <div class="tp-dottedoverlay twoxtwo"></div>
            </div>
        </div>
    </section>
    <!-- End Intro Section -->
    
{% endblock%}
{% block Services %}
    <!--=== FAQ Page ===-->
    <div class="container content faq-page">
        
        <!-- FAQ Content -->
        <div class="row">
            <!-- Begin Tab v1 -->
            <div class="col-md-9">
                <div class="tab-v1">
                    <ul class="nav nav-tabs margin-bottom-20">
                        <li class="active"><a data-toggle="tab" href="#home">课程简介</a></li>
                        <li><a data-toggle="tab" href="#profile">教师介绍</a></li>
                        <li><a data-toggle="tab" href="#messages">常见问题</a></li>
                        <li><a data-toggle="tab" href="#settings">价格方案</a></li>
                    </ul>
                    <div class="tab-content">
                        <!-- Tab Content 1 -->
                        <div id="home" class="tab-pane fade in active">
                            <div id="accordion-v1" class="panel-group acc-v1">
                                
                                <div class="panel panel-default">
                                    <div class="tag-box tag-box-v3">
                                        <div class="heading heading-v1">
                                            <h2>{{course.name}}</h2>
                                            <p>{{course.description}}</p>
                                        </div>

                                        <div class="row margin-bottom-40">


                                        {% for lecture in lectures%}

                                        <hr class="devider devider-db-dotted">
                                            <div class="row">
                                                    <div class="col-md-2 col-md-offset-1">
                                                         <p><span class="dropcap dropcap-bg rounded bg-color-dark">第{{lecture.num}}课</span></p>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h2>{{lecture.name}}</h2>

                                                        <ul class="list-unstyled">
                                                            {% for chapter in lecture.chapter_set.all %}
                                                            <li><i class="fa fa-check color-green"></i> {{chapter.content}}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                        {% endfor %}
                                         </div>
                                        </div>


                                </div>
                            </div>
                        </div>
                        <!-- End Tab Content 1 -->
                        <!-- Tab Content 2 -->
                        <div id="profile" class="tab-pane fade">
                            <div id="accordion-v2" class="panel-group acc-v1">
                                {% for lecturer in lecturers%}
                                    <div class="panel panel-default">
                                        <div class="panel-collapse collapse in" id="collapse-v2-One">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <img class="img-responsive" src="{{lecturer.picture.url}}" alt="" style="width: 175px; height: 175px; max-height:175px;max-width:175px;">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h2>{{lecturer.name}}</h2>
                                                        <ul class="list-unstyled">
                                                            <li><i class="fa fa-check color-green"></i> 讲授 {% for course in lecturer.course.all %}{{course.name}} {% endfor%}</li>
                                                            <li><i class="fa fa-check color-green"></i> 毕业于{{lecturer.school}}</li>
                                                            <li><i class="fa fa-check color-green"></i> {{lecturer.description}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor%}
                                {% for coach in coaches%}
                                    <div class="panel panel-default">
                                        <div class="panel-collapse collapse in" id="collapse-v2-One">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <img class="img-responsive" src="{{coach.picture.url}}" alt="/static/img/team/img5-md.jpg"  style="width: 175px; height: 175px; max-height:175px;max-width:175px;">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <h2>{{coach.name}}</h2>
                                                        <ul class="list-unstyled">
                                                            <li><i class="fa fa-check color-green"></i> 职教 {% for course in coach.course.all %}{{course.name}} {% endfor%}</li>
                                                            <li><i class="fa fa-check color-green"></i> 毕业于{{coach.school}}</li>
                                                            <li><i class="fa fa-check color-green"></i> {{coach.description}}</li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor%}
                            </div>
                        </div>
                        <!-- Tab Content 2 -->
                        
                        <!-- Tab Content 3 -->
                        <div id="messages" class="tab-pane fade">
                            <div id="accordion-v3" class="panel-group acc-v1">
                                {% for question in questions%}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                            <a href="#{{question.content}}" data-parent="#accordion-v3" data-toggle="collapse" class="accordion-toggle">
                                                {{question.content}}
                                            </a>
                                            </h4>
                                        </div>
                                        <div class="panel-collapse collapse" id="{{question.content}}">
                                            <div class="panel-body">
                                                {{question.answer}}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Tab Content 3 -->
                        
                        <!-- Tab Content 4 -->
                        <div id="settings" class="tab-pane fade">
                            <div id="accordion-v4" class="panel-group acc-v1">
                                <div class="panel panel-default">
                                    <div class="panel-collapse collapse in" id="collapse-v4-One">
                                        <div class="panel-body">
                                            个人报名: {{course.price}}元<br>多人报名: {{course.group_price}}元 <br>优惠：{{course.promotion_info}}

                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                        <!-- Tab Content 4 -->
                    </div>
                </div>
                </div><!--/col-md-6-->
                <!--End Tab v1-->
                <!-- Blog Sidebar -->
                <div class="col-md-3">
                    <div class="headline-v2"><h2>最新课程</h2></div>
                    <!-- Trending -->
                    <ul class="list-unstyled blog-trending margin-bottom-50">
                        <li>
                            <h3><a href="#">{{course.name}}第{{course.alias}}期课程正在招生</a></h3>
                            <small>{{course.start_date}} / {{course.start_time}}</small>
                        </li>
                    </ul>
                    <!-- End Trending -->
                    <div class="headline-v2"><h2>话题</h2></div>
                    <!-- Tags v2 -->
                    <ul class="list-inline tags-v2 margin-bottom-50">
                        {% for hashtag in course.hashtag_set.all%}
                        <li><a href="{{hashtag.url}}" target="_blank">#{{hashtag.name}}#</a></li>
                        {% endfor %}
                    </ul>
                    <!-- End Tags v2 -->
                </div>
                <!-- End Blog Sidebar -->

        </div>        
        <!-- End FAQ Content -->
    </div><!--/container-->     

    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="/static/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/plugins/jquery/jquery-migrate.min.js"></script>    
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="/static/js/plugins/revolution-slider.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            CourseRevolutionSlider.initHalfRSfullScreen();
        });
    </script>
{% endblock %}
    <!--=== End FAQ Page ===-->
