{% extends "base.html" %}
{% block title%}
    <title>TFT</title>
{% endblock %}
{% block css %}
    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="/static/css/headers/header-default.css">
    <link rel="stylesheet" href="/static/css/footers/footer-default.css">
{% endblock %}

{% block Intro%}
 <!-- Intro Section -->
<section id="intro" class="course-intro-section">
        <div class="fullscreenbanner-container">
            <div class="fullscreenbanner">
                <ul>
                    <!-- SLIDE 1 -->
                    <li data-transition="curtain-1" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
                        <!-- MAIN IMAGE -->
                        <img src="{{course.picture.url}}" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->
                        <div class="tp-caption rs-caption-1 sft start"
                            data-x="center"
                            data-hoffset="0"
                            data-y="100"
                            data-speed="800"
                            data-start="10"
                            data-easing="Back.easeInOut"
                            data-endspeed="300">
                            {{course.name}}
                        </div>
                        <!-- LAYER -->
                        <div class="tp-caption rs-caption-2 sft"
                            data-x="center"
                            data-hoffset="0"
                            data-y="200"
                            data-speed="1000"
                            data-start="10"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="off"
                            style="z-index: 6">
                            {{course.brief}}<br>
                            Thirsty For Thirty
                        </div>
                        <!-- LAYER -->
                        <div class="tp-caption rs-caption-3 sft"
                                data-x="center"
                                data-hoffset="0"
                                data-y="360"
                                data-speed="1000"
                                data-start="100"
                                data-easing="Power4.easeOut"
                                data-endspeed="300"
                                data-endeasing="Power1.easeIn"
                                data-captionhidden="off"
                                style="z-index: 6">

                        </div>
                    </li>

                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
                <div class="tp-dottedoverlay twoxtwo"></div>
            </div>
        </div>
    </section>
 <!-- End Intro Section -->

{% endblock%}
{% block Services %}


 <!-- JS Global Compulsory -->
    <script type="text/javascript" src="/static/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/plugins/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="/static/js/plugins/revolution-slider.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            CourseRevolutionSlider.initHalfRSfullScreen();
        });
    </script>

{% endblock %}
    <!--=== End FAQ Page ===-->
